.video {
  display: flex;
  flex-direction: column;
  flex: 0.65;
  height: 100vh;
  align-items: center;
  position: relative;
  width: fit-content;
  background-color: white;
}

.video > .screen {
  margin: auto;
}

.video > .screen > .cams {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  width: 30vw;
  height: 25vw;
  margin: 1rem;
  background: #2c3e50;
}

.video > .connections {
  margin: auto;
  padding: 1rem;
  background-color: lightgray;
  border: 1px 1px 1px 1px;
  border-radius: 25px;
  border-color: black;
}

fieldset {
  border: none;
}